.mainBox{
    position: relative;
    padding-top: 1%;
    width: 100%;
    height: 100%;
   
    
}

.UlProps{
    list-style-type: none;
    display: flex;
    gap:5%;
    margin-left:20% ;

}
.Logo{

    width: 50%;
}
.UlRight{
    list-style-type: none;
    display: flex;
    gap:8%;
    padding-left: 5%;

    
}

.LoginButton{
    /* color:'#f2d82f';
    fontSize:'22px';
    top:'-25%';
    border:'solid #f2d82f 2px'
                      */
    color:#f2d82f ;
    font-size:100%;
    font-weight: 600;
    display: grid;
    justify-content: center;
    position: relative;
    align-items: center;
    top: -25%;
    border: solid #f2d82f 3px;
    border-radius: 10px;
    width: 130px;
    height: 42px;        
}