.mainItemsRight{
    position: absolute;
    margin-left: 20%;
    left: -05%;
    padding-top: 5%;
    display: grid;
    text-align: center;

}
.mainItemsRight>h1{
    font-size: 350%;
    font-family: 'Arial',Arial,sans-serif;

}
.mainItemsRight>p{
    color: #9e9e9c;
    font-size: 130%;
    padding-bottom: 4%;
    font-family: 'Arial',Arial,sans-serif;
}
.timka{
    position: absolute;
    left: 67%;
    width: 25%;
}
.buttonsUL{
    list-style-type: none;
    font-size: 22px;
    font-family: 'Arial',Arial,sans-serif;
    font-weight: 600;
    display: flex;
    gap: 5%;
}
.buttonsUL>li{
    /* border: solid black 2px; */
    color: black;
    
}
.buttonBox1{
    height: 60px;
    width: 260px;
    color: black;
    background-color: #f2d82f;
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 10%;
    font-family: 'Arial',Arial,sans-serif;
}
.buttonBox2{
    height: 60px;
    width: 260px;
    color: white;
    background-color: black;
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    font-family: 'Arial',Arial,sans-serif;

}
.buttonBox2:hover{
    background-color: white;
    color: black;
}
.buttonBox1:hover{
    background-color: white;
    color: black;
}